/* CSS for styling the box */
.user-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* CSS for styling the title */
.user-box h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

/* CSS for styling the row within each box */
.user-box .info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CSS for individual entries within each row */
.user-box .info-row > div {
    width: 48%; /* Adjust the width as needed */
    margin-bottom: 10px;
}

/* Basic styles for the navigation bar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    padding: 0;
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #555;
}
