:root {
    --ub-color: #121212; /* Dark background color */
    --bg-color: #1E1E1E;
    --text-color: #FFFFFF; /* White text color */
    --accent-color: #FF5252; /* Red as accent color */
    --secondary-color: #2196F3; /* Blue as a complementary color */
    --highlight-color: #FF1744; /* Darker red for highlights */
  }

/* CSS for styling the box */
.user-box {
    border: 1px solid var(--highlight-color);
    padding: 10px;
    margin:2%;
    padding:5%;
    padding-top:0%;
    padding-bottom:0%;
    background-color: var(--ub-color);
}

/* CSS for styling the title */
.user-box h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

/* CSS for styling the row within each box */
.user-box .info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2%;
}

/* CSS for individual entries within each row */
.user-box .info-row > div {
    width: 48%; /* Adjust the width as needed */
}

.login {
    padding:5%;
}

.login-box {
    margin-bottom:2%;
}

textarea {
    width:600px;
    height:200px;
}

/* Basic styles for the navigation bar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2%;
    background-color: var(--bg-color);
}
nav {
    background-color: var(--ub-color);
    color: white;
    text-align: center;

    border: 1px solid var(--highlight-color);
}

p {
    word-wrap:break-word;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;

}

nav ul li a:hover {
    background-color: var(--accent-color);
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 160px;
    z-index: 1;
    padding: 0;
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
    
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0 0 5px 5px;

}

/* Style the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--accent-color);
}

button[type="submit"],
input[type="submit"] {
    margin-top:2%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
