<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>

</head>



<body>
  <h1>Login</h1>
  <form method="POST" action="/" id="frmLogin">
      <label for="inputUsername">Username:</label>
      <input type="text" id="username" name="username" required><br>
      <label for="inputPassword">Password:</label>
      <input type="password" id="username" name="password" required><br>
      <input type="submit" value="Login">
  </form>
  <p id="messageSucc" class="message"></p>
</body>


</html>