<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>

{% include 'navbar.html' %}

<body>
  <div class="user-box" style="text-align:center; padding:1%">
    <h1>Login</h1>
  </div>
  <form id="frmLogin" method="POST", action="/check_credentials">
    <div class="user-box login">
      <label class="login-box" for="inputUsername">Username:</label>
      <input class="login-box" type="text" id="inputUsername" name="username" required><br>
      <label class="login-box" for="inputPassword">Password:</label>
      <input class="login-box" type="password" id="inputPassword" name="password" required><br>
      {% if error %}
      <p style="color: red;">{{ error }}</p>
      {% endif %}
      <input type="submit" value="Login">
    </div>
  </form>

  <p id="messageSucc" class="message"></p>
</body>


</html>