<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>
{% include 'navbar.html' %}
  
<body>

    <div class="info-container">
        {% if user %}
            <div class="user-box">
                <h2>User Information</h2>
                <div class="info-row">
                    <div>
                        <h3>First Name</h3>
                        <p>{{ user[1] }}</p>
                    </div>
                    <div>
                        <h3>Last Name</h3>
                        <p>{{ user[2] }}</p>
                    </div>
                    <div>
                        <h3>Gender</h3>
                        <p>{{ user[3] }}</p>
                    </div>
                    <div>
                        <h3>Age</h3>
                        <p>{{ user[4] }}</p>
                    </div>
                    <div>
                        <h3>Weight</h3>
                        <p>{{ user[5] }} kg</p>
                    </div>
                    <div>
                        <h3>Height</h3>
                        <p>{{ user[6] }} cm</p>
                    </div>
                    <div>
                        <h3>Health History</h3>
                        <p>{{ user[8] }}</p>
                    </div>
                    <!-- Include other fields here -->
                </div>
            </div>
        {% elif users %}
            {% for row in users %}
                <div class="user-box">
                    <h2>User Information</h2>
                    <div class="info-row">
                        <div>
                            <h3>First Name</h3>
                            <p>{{ row[1] }}</p>
                        </div>
                        <div>
                            <h3>Last Name</h3>
                            <p>{{ row[2] }}</p>
                        </div>
                        <div>
                            <h3>Gender</h3>
                            <p>{{ row[3] }}</p>
                        </div>
                        <div>
                            <h3>Age</h3>
                            <p>{{ row[4] }}</p>
                        </div>
                        <div>
                            <h3>Weight</h3>
                            <p>{{ row[5] }} kg</p>
                        </div>
                        <div>
                            <h3>Height</h3>
                            <p>{{ row[6] }} cm</p>
                        </div>
                        <div>
                            <h3>Health History</h3>
                            <p>{{ row[7] }}</p>
                        </div>
                        <!-- Include other fields for all users -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>

</html>