<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
    <title>Prividata Secure Health</title>
    <link rel="stylesheet" href="/static/css/global.css">
</head>
{% include 'navbar.html' %}

<body>
    <div class="info-container">
        {% if user %}
        <div class="user-box" style="text-align:center; padding:1%">
            <h1 style="text-align:center;">User Information</h1>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}      
        </div>

        <form method="POST" action="/update_user">
            <div class="user-box">
                <div class="info-row">
                    <div>
                        <h3>First Name</h3>
                        <input type="text" name="first_name" class="form-control" value="{{ user[10] }}">
                    </div>
                    <div>
                        <h3>Last Name</h3>
                        <input type="text" name="last_name" class="form-control" value="{{ user[11] }}">
                    </div>
                    <div>
                        <h3>Gender</h3>
                        <input type="text" name="gender" class="form-control" value="{{ user[12] }}">
                    </div>
                    <div>
                        <h3>Age</h3>
                        <input type="number" name="age" class="form-control" value="{{ user[13] }}">
                    </div>
                    <div>
                        <h3>Weight</h3>
                        <input type="number" name="weight" class="form-control" value="{{ user[14] }}"> kg
                    </div>
                    <div>
                        <h3>Height</h3>
                        <input type="number" name="height" class="form-control" value="{{ user[15] }}"> cm
                    </div>
                    <div>
                        <h3>Health History</h3>
                        <textarea name="health_history" class="form-control">{{ user[16] }}</textarea>
                    </div>
                    <!-- Include other fields for all users -->
                </div>
                <button type="submit" style="margin-bottom:5%;">Update</button>

            </div>
        </form>
        {% elif users %}
            {% for row in users %}
                {% if row[0] != id %}
                    <div class="user-box">
                        <div class="info-row">
                        {% if isAdmin == 2 %}
                            <div>
                                <h3>First Name</h3>
                                <p>{{ row[1] }}</p>
                            </div>
                            <div>
                                <h3>Last Name</h3>
                                <p>{{ row[2] }}</p>
                            </div>
                        {% endif %}
                            <div>
                                <h3>Gender</h3>
                                <p>{{ row[3] }}</p>
                            </div>
                            <div>
                                <h3>Age</h3>
                                <p>{{ row[4] }}</p>
                            </div>
                            <div>
                                <h3>Weight</h3>
                                <p>{{ row[5] }} kg</p>
                            </div>
                            <div>
                                <h3>Height</h3>
                                <p>{{ row[6] }} cm</p>
                            </div>
                            <div>
                                <h3>Health History</h3>
                                <p>{{ row[7] }}</p>
                            </div>
                            <!-- Include other fields for all users -->
                        </div>
                    </div>
                {% else %}
                    <form method="POST" action="/update_user">
                        <div class="user-box">
                            <div class="info-row">
                                <div>
                                    <h3>First Name</h3>
                                    <input type="text" name="first_name" class="form-control" value="{{ admin[10] }}">
                                </div>
                                <div>
                                    <h3>Last Name</h3>
                                    <input type="text" name="last_name" class="form-control" value="{{ admin[11] }}">
                                </div>
                                <div>
                                    <h3>Gender</h3>
                                    <input type="text" name="gender" class="form-control" value="{{ admin[12] }}">
                                </div>
                                <div>
                                    <h3>Age</h3>
                                    <input type="number" name="age" class="form-control" value="{{ admin[13] }}">
                                </div>
                                <div>
                                    <h3>Weight</h3>
                                    <input type="number" name="weight" class="form-control" value="{{ admin[14] }}"> kg
                                </div>
                                <div>
                                    <h3>Height</h3>
                                    <input type="number" name="height" class="form-control" value="{{ admin[15] }}"> cm
                                </div>
                                <div>
                                    <h3>Health History</h3>
                                    <textarea name="health_history" class="form-control">{{ admin[16] }}</textarea>
                                </div>
                                <!-- Include other fields for all users -->
                            </div>
                            <button type="submit">Update</button>

                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
</body>

</html>