<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
    <title>Prividata Secure Health</title>
    <link rel="stylesheet" href="/static/css/global.css">
</head>
{% include 'navbar.html' %}
<body>
    <div class="info-container">
        {% if user %}
            <form method = "POST" action = "/update_user">
                <div class="user-box">
                    <h2>User Information</h2>
                    <div class="info-row">
                        <div>
                            <input type="hidden" name="id" value="{{ user[0] }}">
                        </div>
                        <div>
                            <h3>First Name</h3>
                            <input type="text" name="first_name" class="form-control" value="{{ user[1] }}">
                        </div>
                        <div>
                            <h3>Last Name</h3>
                            <input type="text" name="last_name" class="form-control" value="{{ user[2] }}">
                        </div>
                        <div>
                            <h3>Gender</h3>
                            <input type="text" name="gender" class="form-control" value="{{ user[3] }}">
                        </div>
                        <div>
                            <h3>Age</h3>
                            <input type="number" name="age" class="form-control" value="{{ user[4] }}">
                        </div>
                        <div>
                            <h3>Weight</h3>
                            <input type="number" name="weight" class="form-control" value="{{ user[5] }}"> kg
                        </div>
                        <div>
                            <h3>Height</h3>
                            <input type="number" name="height" class="form-control" value="{{ user[6] }}"> cm
                        </div>
                        <div>
                            <h3>Health History</h3>
                            <textarea name="health_history" class="form-control">{{ user[8] }}</textarea>
                        </div>
                        <!-- Include other fields for all users -->
                    </div>
                </div>
                <button type="submit">Update</button>
            </form>
        {% elif users %}
            {% for row in users %}
                <div class="user-box">
                    <h2>User Information</h2>
                    <div class="info-row">
                        <div>
                            <h3>First Name</h3>
                            <p>{{ row[1] }}</p>
                        </div>
                        <div>
                            <h3>Last Name</h3>
                            <p>{{ row[2] }}</p>
                        </div>
                        <div>
                            <h3>Gender</h3>
                            <p>{{ row[3] }}</p>
                        </div>
                        <div>
                            <h3>Age</h3>
                            <p>{{ row[4] }}</p>
                        </div>
                        <div>
                            <h3>Weight</h3>
                            <p>{{ row[5] }} kg</p>
                        </div>
                        <div>
                            <h3>Height</h3>
                            <p>{{ row[6] }} cm</p>
                        </div>
                        <div>
                            <h3>Health History</h3>
                            <p>{{ row[7] }}</p>
                        </div>
                        <!-- Include other fields for all users -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
