<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>

{% include 'navbar.html' %}

<body>
  <div class="user-box" style="text-align:center; padding:1%">
    <h1>Sign-up</h1>
  </div>

  <form id="frmLogin" method="POST" , action="/sign_up">
    <div class="user-box login">

      <label class="login-box" for="inputFirstName">First name:</label>
      <input class="login-box" type="text" id="inputFirstName" name="firstname" required><br>
      <label class="login-box" for="inputLastName">Last name:</label>
      <input class="login-box" type="text" id="inputLastName" name="lastname" required><br>
      <label class="login-box" for="inputUsername">New username:</label>
      <input class="login-box" type="text" id="inputUsername" name="username" required><br>
      <label class="login-box" for="inputPassword">New password:</label>
      <input class="login-box" type="password" id="inputPassword" name="password" required><br>
      <input type="submit" value="Sign-up">
  </form>
  </div>

</body>


</html>