<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>

</head>



<body>
  <h1>Sign-up</h1>
  <form id="frmLogin" method="POST", action="/sign_up">
      <label for="inputUsername">New username:</label>
      <input type="text" id="inputUsername" name="username" required><br>
      <label for="inputPassword">New password:</label>
      <input type="password" id="inputPassword" name="password" required><br>
      <input type="submit" value="Sign-up">
  </form>
</body>


</html>